/mlops_env/
/MLOps_Project.egg-info/
/src/components/logs/
/src/logs/

/logs/
logs/
notebook/data/cars.csv

.pytest_cache/

## Ignore Python cache files
__pycache__/

.DS_Store/

google-cloud-sdk

mlruns