<html>
    <head>
        <!-- Linking the CSS file -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
<body>
    <div class="login">
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h1>
            <legend>Used Cars Price Predictor</legend>
        </h1>
        <div class="mb-3">
            <label class="form-label">HorsePower</label>
            <input class="form-control" type="number" name="HorsePower" placeholder="Enter HorsePower" />
        </div>
        <div class="mb-3">
            <label class="form-label">Kilometers Driven</label>
            <input class="form-control" type="number" name="kilometer" placeholder="Enter Kilometers Driven" />
        </div>
        <div class="mb-3">
            <label class="form-label">RiskLevel</label>
            <select class="form-control" name="RiskLevel" placeholder="Enter Risk Level" required>
                <option class="placeholder" selected disabled value="">Select Risk Level</option>
                <option value="Low">
                    Low
                </option>
                <option value="High">
                    High
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">fuelType</label>
            <select class="form-control" name="fuelType" placeholder="Enter Fuel Type" required>
                <option class="placeholder" selected disabled value="">Select Fuel Type</option>
                <option value="Diesel">
                    Diesel
                </option>
                <option value="Gasoline">
                    Gasoline
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">vehicleType</label>
            <select class="form-control" name="vehicleType" placeholder="Enter Vehicle Type" required>
                <option class="placeholder" selected disabled value="">Select Vehicle Type</option>
                <option value="Bus">
                    Bus
                </option>
                <option value="Compact Car">
                    Compact Car
                </option>
                <option value="Convertible">
                    Convertible
                </option>
                <option value="Coupe">
                    Coupe
                </option>
                <option value="Limousine">
                    Limousine
                </option>
                <option value="other">
                    Other
                </option>
                <option value="Station Wagon">
                    Station Wagon
                </option>
                <option value="SUV">
                    SUV
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">gearbox</label>
            <select class="form-control" name="gearbox" placeholder="Enter Gearbox Type" required>
                <option class="placeholder" selected disabled value="">Select Gearbox Type</option>
                <option value="Automatic">
                    Automatic
                </option>
                <option value="Manual">
                    Manual
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Seller</label>
            <select class="form-control" name="Seller" placeholder="Enter Seller" required>
                <option class="placeholder" selected disabled value="">Select Seller</option>
                <option value="Private">
                    Private
                </option>
                <option value="Commercial">
                    Commercial
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">NotRepairedDamaged</label>
            <select class="form-control" name="NotRepairedDamaged" placeholder="Enter Not Repaired Damaged" required>
                <option class="placeholder" selected disabled value="">Select Not Repaired Damaged</option>
                <option value="Yes">
                    Yes
                </option>
                <option value="No">
                    No
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">offerType</label>
            <select class="form-control" name="offerType" placeholder="Enter Offer Type" required>
                <option class="placeholder" selected disabled value="">Select Offer Type</option>
                <option value="Customer Offer">
                    Customer Offer
                </option>
                <option value="Company Offer">
                    Company Offer
                </option>
            </select>
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict your Vehicle's Price" />
        </div>
    </form>
    <h2>
       The predicted price is: ${{results}}
    </h2>
   </body>
</html>